@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="src/dist/main-server">Loading...</div>

@section scripts {
    <script>
        window.__agentCode__ = '03499';
        window.__PROSPECTID__ = '1963';
    </script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
